/* Category nav */
.about-wrap {
  margin: 48px 0;
}
.about-wrap .about .about-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-wrap .about .about-flex .left img {
  width: 400px;
  height: auto;
  margin-right: 24px;
  border-radius: 2px;
}
.about-wrap .about .about-flex .right h3 {
  margin: 0;
  font-size: 1.5em;
}
@media (max-width: 900px) {
  .about-wrap {
    margin: 36px 0;
  }
  .about-wrap .about .about-flex .left img {
    width: 350px;
  }
}
@media (max-width: 720px) {
  .about-wrap {
    margin: 32px 0;
  }
  .about-wrap .about .about-flex .left img {
    width: 260px;
  }
}
@media (max-width: 620px) {
  .about-wrap .about .about-flex {
    display: block;
  }
  .about-wrap .about .about-flex .left {
    text-align: center;
  }
  .about-wrap .about .about-flex .left img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 0;
    margin-bottom: 18px;
  }
}
.stories-wrap {
  margin: 48px 0;
}
.stories-wrap .stories h2 {
  margin: 0;
  font-size: 2em;
}
.stories-wrap .stories .desc {
  margin: 0;
  color: #797979;
  font-size: 0.95em;
  margin-bottom: 18px;
}

.gallery-nav {
  margin: 18px 0 36px 0;
}
.gallery-nav .nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #eeeeee;
  border-radius: 2px;
  padding: 1px;
}
.gallery-nav .nav-flex .nav-item {
  cursor: pointer;
  flex-grow: 1;
  padding: 8px;
  margin: 1px;
  background-color: #f6f6f6;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.gallery-nav .nav-flex .nav-item img {
  width: 24px;
  height: auto;
  margin-right: 6px;
}
.gallery-nav .nav-flex .nav-item .black {
  display: block;
}
.gallery-nav .nav-flex .nav-item .white {
  display: none;
}
.gallery-nav .nav-flex .nav-item p {
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.gallery-nav .nav-flex .nav-item:hover {
  background-color: #eeeeee;
}
.gallery-nav .nav-flex .active {
  background-color: #1D2F6F;
}
.gallery-nav .nav-flex .active p {
  color: #ffffff;
}
.gallery-nav .nav-flex .active .black {
  display: none;
}
.gallery-nav .nav-flex .active .white {
  display: block;
}
.gallery-nav .nav-flex .active:hover {
  background-color: #1D2F6F;
}

@media (max-width: 600px) {
  .stories-wrap {
    margin: 36px 0;
  }
  .stories-wrap .stories .desc {
    margin-bottom: 12px;
  }

  .gallery-nav {
    margin: 12px 0 24px 0;
  }
  .gallery-nav .nav-flex {
    flex-wrap: wrap;
  }
  .gallery-nav .nav-flex .nav-item {
    cursor: pointer;
    width: 100%;
    padding: 8px 16px;
    justify-content: flex-start;
  }
}
.gallery-text {
  max-width: 850px;
  margin: 18px auto 24px auto;
}
.gallery-text p {
  font-style: italic;
  margin-bottom: 6px;
}
.gallery-text .quoted {
  margin-top: 0;
  font-weight: bold;
}

.gallery-wrap {
  margin-top: 48px;
}
.gallery-wrap .gallery .gallery-category h4 {
  text-align: center;
  margin: 42px 0 24px 0;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .gallery-wrap {
    margin-top: 32px;
  }
  .gallery-wrap .gallery .gallery-category h4 {
    text-align: center;
    margin: 32px 0 18px 0;
    font-size: 1.5em;
  }
}
.hide {
  display: none;
}

.category-wrap {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.category-wrap .story-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category-wrap .story-wrap .story {
  width: 220px;
  margin: 18px 16px;
  cursor: pointer;
}
.category-wrap .story-wrap .story img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.category-wrap .story-wrap .story .text {
  margin-top: 12px;
}
.category-wrap .story-wrap .story .text .title {
  margin: 0;
  font-weight: bold;
}
.category-wrap .story-wrap .story .text .date {
  margin: 0;
  font-size: 0.95em;
}
.category-wrap .story-wrap .story:hover img {
  top: -5px;
  box-shadow: 0 7px 6px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 550px) {
  .category-wrap .story-wrap .story {
    width: 180px;
    margin: 12px;
  }
}
@media (max-width: 432px) {
  .category-wrap .story-wrap .story {
    width: 154px;
    margin: 12px 8px;
  }
}
@media (max-width: 370px) {
  .category-wrap .story-wrap .story {
    width: 200px;
    margin: 16px 12px;
  }
}

/*# sourceMappingURL=index.css.map */
