$black: #000000;
$white: #ffffff;
$dark-gray: #797979;
$style-borders: #e1e1e1;
$link-color: #1D2F6F;

/* Category nav */
$category-nav-border: #eeeeee;
$category-nav-bround-inactive: #f6f6f6;
$category-nav-bround-hover: #eeeeee;
$category-nav-bround-active: $link-color;